<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<bean
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />

	<import resource="spring/mvc.xml" />

	<context:component-scan base-package="com.wizard.official.project.application.web"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<mvc:view-controller path="/manage/main" view-name="platform/main" />
	<mvc:view-controller path="/manage" view-name="platform/login" />
	<mvc:view-controller path="/manage/user-manage"
		view-name="platform/module/user-manage" />
	<mvc:view-controller path="/manage/permit-manage"
		view-name="platform/module/permit-manage" />

</beans>