#doc {
	position:absolute;
	top:90px;
	bottom:2em;
	left:5em;
	right:5em;
	overflow:hidden;
}
#left-menu {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	width:15em;
}
a.head {
	font-weight:700;
	color:#999;
}
a.head:hover {
	color:#428bca;
	text-decoration:none;
}
.panel-heading> h4 {
	font-weight:700;
}
#right-module {
	position:absolute;
	top:0;
	left:16em;
	bottom:0;
	right:0;
}
.tab-pane {
	position:absolute;
	left:0;
	right:0;
	top:3em;
	bottom:0;
}
.module {
	height:100%;
	width:100%;
	border:none;
}
.title {
	background:url('../image/title.png') no-repeat center;
	background-size:cover;
	height:80px;
}
.username {
	top:15px;
	font-weight:bolder;
	font-size:20px;
}
.ico {
	height:15px;
	width:15px;
}
.inbox-ico {
	background:url('../image/inbox.png') no-repeat center;
}
.outbox-ico {
	background:url('../image/outbox.png') no-repeat center;
}
.draftbox-ico {
	background:url('../image/draftbox.png') no-repeat center;
}
.recyclebox-ico {
	background:url('../image/recyclebox.png') no-repeat center;
}